---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/legal/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/legal-permalinks';

const metadata = {
  title: 'Dịch vụ pháp lý chuyên môn',
  description:
    'Các dịch vụ pháp lý của Y&P không chỉ dừng lại ở việc cung cấp các giải pháp pháp lý trên nền tảng học thuật mà Y&P còn cung cấp các giải pháp có vận dụng thực tiễn thiết thực nhằm hỗ trợ giải quyết mọi vướng mắc về pháp lý mà khách hàng gặp phải với hiệu quả cao nhất.',
};
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Dịch vụ pháp lý chuyên môn"
    tagline="Youth & Partners"
    actions={[{ variant: 'primary', text: 'Liên hệ với chúng tôi', href: getPermalink('/lien-he#form') }]}
  >
    <Fragment slot="subtitle">
      Với đội ngũ Luật sư giàu kinh nghiệm thực chiến, kết hợp với sự am hiểu sâu sắc pháp luật và kiến thức xã hội Việt
      Nam, đến với chúng tôi khách hàng sẽ được tư vấn cách tiến hành kinh doanh và hoạt động tốt nhất, bao gồm đàm phán
      với các đối tác, thực hiện các chương trình tuân thủ và giải quyết những vấn đề pháp lý phức tạp của doanh nghiệp.
      <br />
      <br />
      Tận dụng sự hiểu biết của mình về môi trường pháp lý và xã hội ngày càng phức tạp tại Việt Nam, chúng tôi đã tư vấn
      cho hàng trăm khách hàng doanh nghiệp vượt qua tình trạng khó khăn, giảm thiểu rủi ro pháp lý và làm việc hiệu quả
      với các cơ quan nhà nước.
      <br />
      <br />
      Y&P làm việc cùng với khách hàng để hiểu rõ hoạt động kinh doanh và các giải pháp thủ công nhằm giúp quý khách hàng
      đáp ứng các nhu cầu và thách thức kinh doanh tại Việt Nam và hơn thế nữa.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:phone-call',
        callToAction: {
          target: '_blank',
          text: 'Hotline',
          href: 'tel:0889956888',
        },
      },
      {
        icon: 'tabler:mailbox',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: 'mailto:ceo@yplawfirm.vn',
        },
      },
      {
        icon: 'tabler:brand-meta',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/vinhphuclawyers',
        },
      },
    ]}
    image={{
      src: '~/assets/images/youth and partners/luat su Nguyen Van Thanh.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Giới thiệu dịch vụ</h2>
      <p>
        Với phương châm hoạt động: "Thời Gian – Tận Tâm – Tận Lực", Y&P Lawfirm luôn mong muốn mang đến cho quý khách
        hàng những dịch vụ chất lượng, nhanh chóng, chính xác và trọn vẹn.
      </p>
      <br />
      <p>
        Chúng tôi luôn xác định, giá trị của một doanh nghiệp, một đơn vị tư vấn pháp lý phải bắt đầu từ những giá trị
        cốt lõi, các dịch vụ cần được thực hiện bởi cái tâm và cái tầm của các Luật sư.
      </p>
      <br />
      <p>Các giá trị ấy chỉ có thể được đo bằng sự hài lòng, tin tưởng của tất cả các khách hàng/thân chủ.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features3
    title="Dịch vụ pháp lý"
    subtitle="Chúng tôi có các luật sư và chuyên gia tư vấn pháp lý phụ trách các lĩnh vực sau:"
    columns={2}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Doanh nghiệp',
        description:
          'Cung cấp các giải pháp pháp lý toàn diện để hỗ trợ doanh nghiệp trong quá trình thành lập, hoạt động và phát triển.',
      },
      {
        title: 'Tư vấn thường xuyên',
        description:
          'Cung cấp dịch vụ tư vấn pháp lý liên tục để đảm bảo doanh nghiệp hoạt động hiệu quả và tuân thủ các quy định pháp luật hiện hành.',
      },
      {
        title: 'Sở hữu trí tuệ',
        description:
          'Tư vấn và hỗ trợ bảo vệ quyền sở hữu trí tuệ, từ đăng ký bản quyền, bằng sáng chế đến giải quyết tranh chấp về sở hữu trí tuệ.',
      },
      {
        title: 'Quản trị doanh nghiệp và tuân thủ',
        description:
          'Giúp doanh nghiệp xây dựng hệ thống quản trị hiệu quả và tuân thủ các quy định pháp luật, giảm thiểu rủi ro pháp lý.',
      },
      {
        title: 'Dự án đầu tư',
        description:
          'Hỗ trợ các nhà đầu tư trong việc thực hiện các dự án đầu tư tại Việt Nam, từ việc xin giấy phép đến việc giải quyết các vấn đề pháp lý liên quan.',
      },
      {
        title: 'Dịch vụ hỗ trợ doanh nghiệp',
        description:
          'Cung cấp các dịch vụ hỗ trợ doanh nghiệp, bao gồm tư vấn pháp lý, hỗ trợ quản lý, và giải quyết các vấn đề phát sinh trong quá trình kinh doanh.',
      },
      {
        title: 'Mua bán và Sáp nhập (M&A)',
        description:
          'Tư vấn và hỗ trợ các giao dịch mua bán và sáp nhập doanh nghiệp, đảm bảo các giao dịch được thực hiện một cách hiệu quả và tuân thủ pháp luật.',
      },
      {
        title: 'Tranh tụng và giải quyết tranh chấp',
        description:
          'Chúng tôi đại diện và hỗ trợ khách hàng trong các vụ kiện tụng và giải quyết tranh chấp, bảo vệ quyền lợi hợp pháp của khách hàng.',
      },
      {
        title: 'Lao động việc làm',
        description:
          'Tư vấn và hỗ trợ doanh nghiệp và người lao động về các vấn đề liên quan đến hợp đồng lao động, quyền lợi nhân viên, và giải quyết tranh chấp lao động.',
      },
      {
        title: 'Dịch vụ pháp lý về đất đai',
        description:
          'Cung cấp các dịch vụ pháp lý liên quan đến đất đai, từ việc xin giấy chứng nhận quyền sử dụng đất đến giải quyết các tranh chấp liên quan đến đất đai.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="projects-use-case"
    title="Một số dự án tiêu biểu"
    subtitle="Chúng tôi tự hào đã thực hiện thành công nhiều dự án tư vấn cho các doanh nghiệp và tổ chức lớn nhỏ, mang lại những giá trị thiết thực và giải pháp pháp lý hiệu quả."
    isReversed
    items={[
      {
        title: 'Mô tả:',
        description:
          'Dự án có quy mô hơn 2 ha tại khu chức năng đô thị Tây Tựu, thành phố Hà Nội. Đây là một dự án tiên phong, mang lại một tiêu chuẩn sống mới cho khu vực.',
      },
      {
        title: 'Vai trò của Y&P:',
        description:
          'Y&P Lawfirm là nhà tư vấn toàn diện cho Chủ đầu tư từ giai đoạn chuẩn bị dự án đến giai đoạn vận hành, triển khai dự án và toàn bộ các vấn đề pháp lý phát sinh tại Dự án.',
      },
    ]}
    image={{
      src: '~/assets/images/projects/avenue garden.png',
      alt: 'Dự án AVENUE GARDEN',
    }}
    callToAction={{
      target: '_blank',
      text: 'Tìm hiểu thêm',
      icon: 'tabler:chevron-right',
      href: '/lien-he#form',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Dự án <span class="text-2xl">AVENUE GARDEN </span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Mô tả:',
        description:
          'Dự án có quy mô 3,5 ha tại KĐT Tây Hồ Tây với tổng vốn đầu tư trên 2000 tỷ đồng. Hệ thống biệt thự Embassy Garden mang đến thiết kế hiện đại, không gian tiện nghi cùng hệ thống cảnh quan thiên nhiên tuyệt đẹp hứa hẹn là chốn an cư  lý tưởng cho đông đảo khách hàng đang tìm kiếm không gian sống tuyệt vời tại nội đô.',
      },
      {
        title: 'Vai trò của Y&P:',
        description: `Y&P Lawfirm là nhà tư vấn cho CTCP Phát triển tài sản Việt Nam (VAD) trong các hoạt động vận hành dự án và quản lý, chuyển giao giữa chủ đầu tư với các chủ sở hữu biệt thự tại Dự án.`,
      },
    ]}
    image={{
      src: '~/assets/images/projects/embassy garden.png',
      alt: 'Dự án EMBASSY GARDEN',
    }}
    callToAction={{
      target: '_blank',
      text: 'Tìm hiểu thêm',
      icon: 'tabler:chevron-right',
      href: '/lien-he#form',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Dự án <span class="text-2xl">EMBASSY GARDEN </span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Mô tả:',
        description: `Swiss Belresidences Upper East Saigon là dự án căn hộ hàng hiệu đầu tiên tại thành phố Thủ Đức do tập đoàn Hasco Group làm chủ đầu tư. Vị trí dự án Swiss Belresidences Upper East Saigon toạ lạc tại số 800 Đồng Văn Cống, phường Thạnh Mỹ Lợi, Thành phố Thủ Đức.`,
      },
      {
        title: 'Vai trò của Y&P:',
        description: `Y&P Lawfirm là nhà tư vấn toàn diện cho Chủ đầu tư từ giai đoạn chuẩn bị dự án đến giai đoạn vận hành, triển khai dự án và toàn bộ các vấn đề pháp lý phát sinh tại Dự án.`,
      },
    ]}
    image={{
      src: '~/assets/images/projects/Swiss Belresidences Upper East Saigon.png',
      alt: 'Swiss Belresidences Upper East Saigon',
    }}
    callToAction={{
      target: '_blank',
      text: 'Tìm hiểu thêm',
      icon: 'tabler:chevron-right',
      href: '/lien-he#form',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Dự án <span class="text-2xl">SWISS – BELRESIDENCES UPPER EAST SAIGON </span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Cùng làm việc với Youth & Partners để thành công"
    subtitle="Với đội ngũ luật sư giàu kinh nghiệm và tận tâm, chúng tôi cam kết mang lại những giải pháp pháp lý hiệu quả và tối ưu nhất. Cho dù bạn đang bắt đầu một dự án mới, đối mặt với những thách thức pháp lý phức tạp hay cần tư vấn chiến lược dài hạn, chúng tôi sẽ luôn ở đây để hỗ trợ bạn từng bước. Hãy chọn Youth & Partners để đảm bảo sự thành công và bền vững cho các dự án của bạn."
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/lien-he#form',
      },
    ]}
  />
</Layout>
