---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Về chúng tôi',
  description:
    'Công ty luật hàng đầu trong các lĩnh vực: Đầu tư nước ngoài, giấy chứng nhận đầu tư, giấy chứng nhận đăng ký doanh nghiệp, Foreign investment, IRC, ERC, giấy phép lao động, Work permits.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Về chúng tôi">
    <Fragment slot="title">
      Công ty Luật TNHH
      <span class="text-accent dark:text-white highlight"> Youth and Partners</span>
    </Fragment>

    <Fragment slot="subtitle">
      Với phương châm hoạt động: “Thời Gian – Tận Tâm – Tận Lực”. Công ty Luật chúng tôi luôn mong muốn mang đến cho quý
      khách hàng những dịch vụ chất lượng, nhanh chóng, chính xác và trọn vẹn. Chúng tôi luôn xác định, giá trị của một
      doanh nghiệp, một đơn vị tư vấn pháp lý phải bắt đầu từ những giá trị cốt lõi, các dịch vụ cần được thực hiện bởi
      cái tâm và cái tầm của các Luật sư. Các giá trị ấy chỉ có thể được đo bằng sự hài lòng, tin tưởng của tất cả các
      khách hàng thân chủ.
      <br />
      <br />
      Với lợi thế đã và đang làm việc cùng và thực hiện tư vấn thường xuyên cho các Doanh nghiệp nước ngoài có Quy mô lớn
      tại Việt Nam như Samsung. Viettel, FPT, các Vendor, nhà cung cấp của Samsung cũng như nhiều Doanh nghiệp Hàn Quốc,
      Nhật Bản khác, Y&P Law firm tự tin có thể đáp ứng tốt các yêu cầu của Quý khách hàng, các Doanh nghiệp và các Nhà đầu
      tư tại Việt Nam.
    </Fragment>

    <Fragment slot="image">
      <YouTube
        id="WJUMziCmOP8"
        title="Y&P Lawfirm - Gương mặt tiêu biểu kỷ niệm 77 năm ngày Truyền thống Luật sư Việt Nam"
      />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    id="lich-su-thanh-lap"
    title="Lịch sử thành lập"
    items={[
      {
        title:
          'Kiện toàn bộ máy <br /> <span class="font-normal">Bổ sung nhân lực và phát triển mở rộng quy mô dịch vụ</span> <br /> <span class="text-sm font-normal">2024 - đến nay</span>',
        description: `Cung cấp giải pháp, dịch vụ tư vấn luật toàn diện với các lĩnh vực: Doanh nghiệp, Tư vấn thường xuyên, Sở hữu trí tuệ, Quản trị doanh nghiệp và tuân thủ, Dự án đầu tư, Dịch vụ hỗ trợ doanh nghiệp, M&A, Tranh tụng và giải quyết tranh chấp, Lao động và việc làm, Dịch vụ pháp lý về đất đai.`,
        icon: 'tabler:award',
      },
      {
        title:
          'Mở rộng <br /> <span class="font-normal">Thêm 01 chi nhánh tại Hà Nội</span> <br /> <span class="text-sm font-normal">2021 - 2023</span>',
        description: `Phát triển thêm chi nhánh tại địa chỉ: P316, Tháp Tây, Chung cư Học viện Quốc Phòng, Xuân La, Tây Hồ, Hà Nội.`,
        icon: 'tabler:chart-arrows',
      },
      {
        title:
          'Mở rộng <br /> <span class="font-normal">Thêm 01 chi nhánh tại Bắc Ninh</span> <br /> <span class="text-sm font-normal">2020 - 2021</span>',
        description: `Phát triển thêm chi nhánh tại địa chỉ: Số nhà 222, đường Trần Hưng Đạo, phường Tiền An, thành phố Bắc Ninh, tỉnh Bắc Ninh.`,
        icon: 'tabler:chart-arrows',
      },
      {
        title:
          'Mở rộng <br /> <span class="font-normal">Thêm 01 VPDD tại Vĩnh Phúc</span> <br /> <span class="text-sm font-normal">2019 - 2020</span>',
        description: `Đầu tư phát triển Văn phòng đại diện tại Khu 2, xã Vân Xuân, huyện Vĩnh Tường, tỉnh Vĩnh Phúc.`,
        icon: 'tabler:chart-arrows',
      },
      {
        title:
          'Thành lập Youth & Partners <br /> <span class="font-normal">Số nhà 170, đường Nguyễn Văn Linh, phường Liên Bảo, thành phố Vĩnh Yên, tỉnh Vĩnh Phúc</span> <br /> <span class="text-sm font-normal">09/10/2019</span>',
        description: `Phát triển 04 phòng chuyên môn với đội ngũ Luật sư, cố vấn, chuyên viên, nhân viên đông đảo.`,
        icon: 'tabler:step-out',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Các con số biết nói"
    stats={[
      { title: 'Văn phòng', amount: '5' },
      { title: 'Chuyên viên pháp lý', amount: '30+' },
      { title: 'Khách hàng hài lòng', amount: '1176' },
      { title: 'Vụ thắng kiện', amount: '723' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Dịch vụ của Chúng tôi"
    subtitle="Chúng tôi cung cấp một loạt các dịch vụ pháp lý và tư vấn chuyên nghiệp, bao gồm:"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Dịch vụ Pháp lý',
        description:
          'Đội ngũ luật sư giàu kinh nghiệm của chúng tôi luôn sẵn sàng giải quyết mọi vấn đề pháp lý phức tạp. Chúng tôi cung cấp các dịch vụ pháp lý toàn diện từ tranh chấp thương mại, quyền sở hữu trí tuệ đến các vấn đề dân sự và hình sự.',
        icon: 'tabler:template',
      },
      {
        title: 'Tư vấn Thường xuyên cho Doanh nghiệp',
        description:
          'Chúng tôi cung cấp dịch vụ tư vấn thường xuyên cho các doanh nghiệp, hỗ trợ bạn trong việc quản lý rủi ro pháp lý, tuân thủ quy định pháp luật và tối ưu hóa quy trình hoạt động.',
        icon: 'tabler:template',
      },
      {
        title: 'Tư vấn Lao động',
        description:
          'Chúng tôi tư vấn về các vấn đề lao động nhằm đảm bảo quyền lợi cho cả người sử dụng lao động và nhân viên. Dịch vụ của chúng tôi bao gồm tư vấn hợp đồng lao động, quyền lợi nhân viên, giải quyết tranh chấp và tối ưu hóa quy trình lao động.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={2}
    isAfterContent={true}
    items={[
      {
        title: 'Đầu tư và Người Nước Ngoài',
        description:
          'Chúng tôi cung cấp các giải pháp pháp lý cho nhà đầu tư và người nước ngoài muốn kinh doanh hoặc sinh sống tại Việt Nam. Chúng tôi hỗ trợ từ việc thành lập doanh nghiệp, xin giấy phép lao động đến giải quyết các vấn đề pháp lý liên quan khác.',
        icon: 'tabler:template',
      },
      {
        title: 'Dịch vụ Đánh giá Doanh nghiệp',
        description:
          'Chúng tôi cung cấp các giải pháp đánh giá doanh nghiệp toàn diện, giúp bạn hiểu rõ hơn về hiệu suất, tình hình tài chính và các yếu tố rủi ro của doanh nghiệp. Chúng tôi cam kết mang đến cho bạn những đánh giá chính xác và toàn diện nhất.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    id="tam-nhin-su-menh"
    title="Tầm nhìn và sứ mệnh"
    subtitle="<b>Tầm nhìn</b> Chúng tôi phấn đấu trở thành công ty luật hàng đầu, được khách hàng tín nhiệm và chọn lựa vì sự nhanh chóng, tận tâm và tận lực trong việc cung cấp các dịch vụ pháp lý chất lượng cao. <br /><br /> <b>Sứ mệnh</b> Chúng tôi cam kết mang đến cho khách hàng những giải pháp pháp lý hiệu quả và kịp thời. Với phương châm “Thời gian, Tận tâm, Tận lực”, chúng tôi luôn đặt lợi ích của khách hàng lên hàng đầu, làm việc hết mình để đáp ứng nhu cầu pháp lý đa dạng và phức tạp của họ."
    items={[
      {
        title: 'Chính trực',
        description:
          'Chúng tôi luôn hành động với sự trung thực và đạo đức nghề nghiệp, đặt lợi ích của khách hàng lên hàng đầu.',
      },
      {
        title: 'Sáng tạo',
        description:
          'Chúng tôi luôn tìm kiếm những giải pháp pháp lý sáng tạo và hiệu quả để đáp ứng nhu cầu đa dạng của khách hàng.',
      },
      {
        title: 'Hợp tác',
        description:
          'Chúng tôi tin rằng sự hợp tác chặt chẽ giữa đội ngũ nhân viên và khách hàng là chìa khóa để đạt được thành công.',
      },
      {
        title: 'Chất lượng',
        description: 'Chúng tôi không ngừng nâng cao chất lượng dịch vụ để đáp ứng và vượt qua kỳ vọng của khách hàng.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="ton-chi-hoat-dong"
    isReversed
    tagline="Y&P Law Firm"
    title="Tôn chỉ hoạt động của chúng tôi"
    items={[
      {
        title: 'Thời gian',
        description:
          'Chúng tôi biết rằng mọi vụ việc pháp lý đều có những thời hạn và yêu cầu khắt khe. Chính vì thế, đội ngũ luật sư của chúng tôi luôn nỗ lực hết mình để đảm bảo tiến trình công việc diễn ra nhanh chóng và hiệu quả, giúp khách hàng đạt được kết quả mong muốn trong thời gian sớm nhất.',
        icon: 'tabler:clock-24',
      },
      {
        title: 'Tận tâm',
        description:
          'Mỗi luật sư tại Y&P đều đặt trọn tâm huyết vào từng hồ sơ, lắng nghe và thấu hiểu nhu cầu của khách hàng để đưa ra những giải pháp tối ưu và phù hợp nhất. Chúng tôi tin rằng sự tận tâm chính là chìa khóa để xây dựng lòng tin và mối quan hệ bền vững với khách hàng.',
        icon: 'tabler:heart',
      },
      {
        title: 'Tận lực',
        description:
          'Không chỉ dừng lại ở việc cung cấp dịch vụ pháp lý, chúng tôi luôn đi thêm một bước nữa để bảo vệ quyền lợi và lợi ích hợp pháp của khách hàng. Đội ngũ luật sư tài năng và giàu kinh nghiệm của chúng tôi luôn sẵn sàng đối mặt với mọi thách thức để mang lại sự công bằng và thành công cho khách hàng.',
        icon: 'tabler:award',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    id="giai-thuong-phap-ly"
    title="Giải thưởng pháp lý"
    subtitle="Chúng tôi tự hào về những thành tựu và giải thưởng pháp lý đã đạt được, minh chứng cho sự cam kết và uy tín trong ngành pháp luật"
    isReversed={true}
    callToAction={{
      text: 'Xem thêm',
      href: '/gioi-thieu#ho-so-nang-luc',
    }}
    items={[
      {
        title: 'Giải thưởng Luật sư Xuất sắc',
        description:
          'Được trao tặng cho các luật sư của chúng tôi vì những đóng góp xuất sắc trong các vụ việc phức tạp.',
        icon: 'tabler:globe',
      },
      {
        title: 'Giải thưởng Đổi mới Pháp lý',
        description:
          'Tôn vinh những nỗ lực sáng tạo trong việc áp dụng công nghệ và các giải pháp pháp lý mới để nâng cao hiệu quả công việc.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Giải thưởng Đóng góp cho Cộng đồng',
        description: 'Ghi nhận những hoạt động từ thiện và đóng góp tích cực cho cộng đồng và xã hội.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Địa chỉ văn phòng"
    tagline="Hãy đến thăm chúng tôi"
    columns={4}
    items={[
      {
        title: 'Hà Nội',
        description: 'P316, Tháp Tây, Chung cư Học viện Quốc Phòng, Xuân La, Tây Hồ, Hà Nội',
      },
      {
        title: 'Vĩnh Phúc',
        description: 'Số nhà 170, đường Nguyễn Văn Linh, phường Liên Bảo, thành phố Vĩnh Yên, tỉnh Vĩnh Phúc',
      },
      {
        title: 'Bắc Ninh',
        description: 'Số nhà 222, đường Trần Hưng Đạo, phường Tiền An, thành phố Bắc Ninh, tỉnh Bắc Ninh',
      },
      {
        title: 'VPDD Vĩnh Tường',
        description: 'Khu 2, xã Vân Xuân, huyện Vĩnh Tường, tỉnh Vĩnh Phúc',
      },
    ]}
  />

  <!-- Brands Widget ****************** -->

  <Brands
    title="Đối tác và khách hàng của chúng tôi"
    subtitle="Chúng tôi tự hào về mạng lưới đối tác và khách hàng rộng khắp, bao gồm các doanh nghiệp, tổ chức và cá nhân uy tín trong nhiều lĩnh vực khác nhau. Những đối tác hợp tác của chúng tôi gồm có các công ty luật hàng đầu, các tổ chức tư vấn chiến lược, và các công ty tài chính quốc tế. Chúng tôi làm việc chặt chẽ với họ để mang lại các giải pháp pháp lý tối ưu và chuyên nghiệp nhất."
    icons={[]}
    images={[
      {
        src: '~/assets/images/partners/viettel.png',
        alt: 'Viettel',
      },
      {
        src: '~/assets/images/partners/wesmart.jpg',
        alt: 'WeSMART',
      },
      {
        src: '~/assets/images/partners/topcv.png',
        alt: 'TopCV',
      },
      {
        src: '~/assets/images/partners/samsung.png',
        alt: 'Samsung',
      },
      {
        src: '~/assets/images/partners/fpt.png',
        alt: 'FPT',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <Testimonials
    id="cam-nhan-khach-hang"
    title="Cảm nhận của khách hàng"
    subtitle="Khách hàng hài lòng với dịch vụ pháp lý tại Youth and Partners, đánh giá cao sự tận tâm và chuyên nghiệp của đội ngũ luật sư trong việc giải quyết các vấn đề pháp lý phức tạp. Họ tin tưởng và sẵn lòng tiếp tục sử dụng dịch vụ của chúng tôi trong tương lai."
    testimonials={[
      {
        testimonial: `Amazing services and good spirit
                                        We have been working with Youth & Partners for a long time. We had perfect experiences from enthusiastic and great staff. They are friendly and dedicated to work. Everything is well organized.
                                        Keep up your great work!`,
        name: 'Daniel Nguyen',
        job: 'Founder & CEO WeSMART',
        image: {
          src: '~/assets/images/customers/trung.png',
          alt: 'Daniel Nguyen',
        },
      },
      {
        testimonial: `Một địa chỉ tư vấn và hỗ trợ pháp luật tuyệt vời. Mình rất hài lòng về cách làm việc và hỗ trợ của các anh chị tại đây. Cảm ơn và chúc công ty ngày một phát triển, và hỗ trợ được nhiều khách hàng hơn nữa.`,
        name: 'Ha Trung',
        job: 'Khách hàng',
        image: {
          src: '~/assets/images/customers/hatrung.png',
          alt: 'Ha Trung',
        },
      },
      {
        testimonial: `Đội ngũ Luật sư chuyên môn dày dặn, xử lý công việc chuyên nghiệp, tư duy đột phá trong các phương án tư vấn cho khách hàng, đem đến sự hài lòng toàn diện cho khách hàng trên cơ sở thượng tôn pháp luật.`,
        name: 'Hoa Trương',
        job: 'Khách hàng',
        image: {
          src: '~/assets/images/customers/hoatruong.png',
          alt: 'Hoa Trương Image',
        },
      },
      {
        testimonial: `Mình rất hài lòng khi sử dụng dịch vụ pháp lý của Y&P Lawfirm. Các luật sự làm việc rất chuyên nghiệp,  Chúc cho các luật sư thật nhiều sức khỏe!`,
        name: 'Van Quang Tran',
        job: 'Khách hàng',
        image: {
          src: '~/assets/images/customers/vanquangtran.png',
          alt: 'Van Quang Tran Image',
        },
      },
      {
        testimonial: `Dịch vụ nhanh chóng và rất đáng tin cậy. Các Luật sư nói được và làm được. Là 1 địa chỉ Luật sư tốt cho công dân và Doanh nghiệp Vĩnh Phúc.`,
        name: 'Duc Le Anh',
        job: 'Khách hàng',
        image: {
          src: '~/assets/images/customers/ducleanh.png',
          alt: 'Duc Le Anh Image',
        },
      },
      {
        testimonial: `Hãng luật uy tín và chuyên nghiệp! Các luật sư và chuyên viên luôn tận tình và giàu tình cảm! Tôi sẽ còn gắn bó lâu dài. Thanks!`,
        name: 'Ngọc Nguyen',
        job: 'Khách hàng',
        image: {
          src: '~/assets/images/customers/ngoc.png',
          alt: 'Ngọc Nguyen Image',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Testimonials>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Liên hệ để được tư vấn ngay"
    subtitle="Tất cả các vấn đề bạn đang thắc mắc"
    columns={4}
    items={[
      {
        title: 'Hotline',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: '0889956888',
          href: 'tel:0889956888',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'ceo@yplawfirm.vn',
          href: 'mailto:ceo@yplawfirm.vn',
          variant: 'link',
        },
      },
      {
        title: 'Chat với chuyên viên',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Bắt đầu chat',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Liên hệ',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Hãy để lại lời nhắn',
          href: '/lien-he',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="ho-so-nang-luc"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Hồ sơ năng lực tiếng Việt',
        href: '/assets/profiles/COMPANY_PROFILE_Y&P2023_Version Vietnamese.pdf',
        icon: 'tabler:download',
      },
      {
        variant: 'primary',
        target: '_blank',
        text: 'Hồ sơ năng lực tiếng Anh',
        href: '/assets/profiles/COMPANY_PROFILE_Y&P2023_Version English.pdf',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Hồ sơ năng lực của Youth & Partners</Fragment>

    <Fragment slot="subtitle">
      Tại đây, bạn sẽ tìm thấy những thông tin chi tiết về năng lực chuyên môn, các dịch vụ pháp lý mà chúng tôi cung
      cấp, và các thành tựu nổi bật của đội ngũ luật sư tại công ty
    </Fragment>
  </CallToAction>
</Layout>
