---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Công ty Luật TNHH Youth and Partners - Văn phòng luật sư hàng đầu Vĩnh Phúc',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Liên hệ để được tư vấn',
        href: 'tel:0889956888',
        target: '_blank',
        icon: 'tabler:phone-call',
      },
      { text: 'Tìm hiểu thêm', href: '/gioi-thieu.html' },
    ]}
    image={{ src: '~/assets/images/youth and partners/luat su tu van.jpg', alt: 'Luật sư tư vấn' }}
  >
    <Fragment slot="title">
      Công ty Luật TNHH
      <span class="text-accent dark:text-white highlight"> Youth & Partners</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Công ty luật hàng đầu trong các lĩnh vực: Đầu tư nước ngoài, giấy chứng nhận đầu tư, giấy chứng nhận đăng ký
        doanh nghiệp, Foreign investment, IRC, ERC, giấy phép lao động, Work permits.
      </span>

      <span class="block mb-1 sm:hidden font-bold text-blue-600">Như một người bạn đồng hành.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <Features
    id="features"
    tagline="Chúng tôi cung cấp"
    title="Các dịch vụ nổi bật"
    subtitle="Công ty Luật chúng tôi luôn mong muốn mang đến cho quý khách hàng những dịch vụ chất lượng, nhanh chóng, chính xác và trọn vẹn."
    items={[
      {
        title: 'Dịch vụ hỗ trợ doanh nghiệp',
        description:
          'Cung cấp các dịch vụ pháp lý liên quan mật thiết tới Doanh nghiệp, từ các dịch vụ giản đơn như thành lập, thay đổi đăng ký doanh nghiệp, giải thể, phá sản.. cho tới các vấn đề khó hơn như tư vấn quy chế nội bộ, sắp xếp lại, quản trị doanh nghiệp, tư vấn thường xuyên, thuế, tài chính và các vấn đề pháp lý khác liên quan tới DN.',
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Tư vấn dự án, đầu tư trong nước và nước ngoài',
        description:
          'Tìm hiểu, đánh giá thị trường, nắm bắt thông tin các đối tác, địa bàn, lĩnh vực khuyến khích đầu tư, hỗ trợ khách hàng thiết lập và xây dựng các loại hình, tổ chức kinh tế để thực hiện hoạt động đầu tư hiệu quả tại Việt Nam như thành lập dự án mới, góp vốn mua cổ phần... Tận dụng tối đa các chính sách hỗ trợ đầu tư của các tỉnh thành tại Việt Nam...',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Hôn nhân và gia đình',
        description:
          'Cung cấp đa dạng các loại hình dịch vụ pháp lý liên quan tới hôn nhân gia đình tại Việt Nam, từ dịch vụ tư vấn đơn phương/thuận tình ly hôn, giải quyết tranh chấp, phân chia tài sản, quyền nuôi con, quyền cấp dưỡng, giải quyết việc vi phạm chế độ hôn nhân, tư vấn hòa giải tới các dịch vụ ly hôn trong nước và ly hôn có yếu tố nước ngoài.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Tranh tụng và đại diện ngoài tố tụng',
        description:
          'Là Người đại diện hoặc Người bào chữa/Người bảo vệ quyền và lợi ích hợp pháp cho các Khách hàng/thân chủ tại các cơ quan tiến hành tố tụng, như Cơ quan Điều tra, Viện Kiểm sát, Tòa án, Cơ quan Thi hành án cũng như các cơ quan khác trong tất cả các lĩnh vực pháp lý… trên nguyên tắc bảo đảm tối đa lợi ích của các Thân chủ/Khách hàng.',
        icon: 'tabler:square-number-4',
      },
      {
        title: 'Dịch vụ đất đai',
        description:
          'Thực hiện các dịch vụ pháp lý đa dạng liên quan tới đất đai, như tư vấn chuyển nhượng, mua bán, tặng cho, đặt cọc, thế chấp, góp vốn Quyền sử dụng đất, Quyền sở hữu nhà ở, căn hộ. Tư vấn cấp giấy chứng nhận quyền sử dụng đất lần đầu, xác minh thông tin dữ liệu đất đai làm cơ sở cho các giao dịch mua bán, chuyển nhượng đất đai...',
        icon: 'tabler:square-number-5',
      },
      {
        title: 'Pháp luật dân sự và thừa kế',
        description:
          'Tư vấn mọi lĩnh vực pháp luật dân sự trong đời sống xã hội từ trong nước tới nước ngoài, các quyền dân sự của cá nhân, pháp nhân, từ khai sinh, khai tử, giấy phép hoạt động cho các cơ sở, tới tài sản và quyền sở hữu hợp pháp của công dân, các hợp đồng, giao dịch, vấn đề liên quan tới pháp luật thừa kế, lập chi chúc, phân chia di sản, và các vấn đề pháp lý dân sự khác...',
        icon: 'tabler:square-number-6',
      },
      {
        title: 'Lao động',
        description:
          'Quan hệ giữa người lao động và Người sử dụng lao động luôn tồn tại những lợi ích đối nghịch, rất nhiều các xung đột pháp lý liên quan tới đơn phương chấm dứt hợp đồng trái pháp luật, sa thải trái pháp luật, hợp đồng lao động, thỏa thuận không tiết lộ thông tin, hạn chế cạnh tranh sau khi nghỉ việc, đình công.. tất cả đều có thể được hỗ trợ tốt bởi Youth & Partners Law Firm.',
        icon: 'tabler:square-number-7',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Y&P Law Firm"
    title="Tôn chỉ hoạt động của chúng tôi"
    items={[
      {
        title: 'Thời gian',
        description:
          'Chúng tôi biết rằng mọi vụ việc pháp lý đều có những thời hạn và yêu cầu khắt khe. Chính vì thế, đội ngũ luật sư của chúng tôi luôn nỗ lực hết mình để đảm bảo tiến trình công việc diễn ra nhanh chóng và hiệu quả, giúp khách hàng đạt được kết quả mong muốn trong thời gian sớm nhất.',
        icon: 'tabler:clock-24',
      },
      {
        title: 'Tận tâm',
        description:
          'Mỗi luật sư tại Y&P đều đặt trọn tâm huyết vào từng hồ sơ, lắng nghe và thấu hiểu nhu cầu của khách hàng để đưa ra những giải pháp tối ưu và phù hợp nhất. Chúng tôi tin rằng sự tận tâm chính là chìa khóa để xây dựng lòng tin và mối quan hệ bền vững với khách hàng.',
        icon: 'tabler:heart',
      },
      {
        title: 'Tận lực',
        description:
          'Không chỉ dừng lại ở việc cung cấp dịch vụ pháp lý, chúng tôi luôn đi thêm một bước nữa để bảo vệ quyền lợi và lợi ích hợp pháp của khách hàng. Đội ngũ luật sư tài năng và giàu kinh nghiệm của chúng tôi luôn sẵn sàng đối mặt với mọi thách thức để mang lại sự công bằng và thành công cho khách hàng.',
        icon: 'tabler:award',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Steps
    title="Hãy để chúng tôi trở thành người bạn đồng hành của bạn"
    items={[
      {
        title: '<span class="font-medium">Liên hệ</span>',
        description:
          'Mô tả vấn đề của bạn và thu thập tài liệu liên quan. Liên hệ với chúng tôi qua Hotline, Zalo, WhatsApp, Facebook hoặc Email',
        icon: 'tabler:report-search',
      },
      {
        title: '<span class="font-medium">Gửi yêu cầu</span>',
        description: 'Mô tả chi tiết vấn đề qua email hoặc điện thoại và đính kèm tài liệu liên quan',
        icon: 'tabler:phone',
      },
      {
        title: '<span class="font-medium">Theo dõi phản hồi</span>',
        description:
          'Theo dõi email hoặc điện thoại của bạn để nhận phản hồi từ đội ngũ hỗ trợ khách hàng của chúng tôi. Nếu không nhận được phản hồi trong thời gian dự kiến, hãy liên hệ lại để đảm bảo vấn đề của bạn không bị bỏ sót.',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Chúng tôi sẽ hoàn thành!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Chuyên viên pháp lý', amount: '30+' },
      { title: 'Khách hàng hài lòng', amount: '1176' },
      { title: 'Vụ thắng kiện', amount: '723' },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Stats>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Kênh tin tức Y&P"
    information={`Trang tin tức của chúng tôi cung cấp những thông tin cập nhật và mới nhất về các vấn đề pháp lý, 
    với bài viết từ các chuyên gia pháp lý hàng đầu, đảm bảo bạn luôn nắm bắt được những thay đổi quan trọng trong các lĩnh vực quan tâm.
                `}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />
  <!-- CallToAction Widget *********** -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Liên hệ để được tư vấn ngay"
    subtitle="Chúng tôi luôn sẵn lòng lắng nghe và hỗ trợ bạn một cách tận tâm và chuyên nghiệp. Hãy để chúng tôi giúp bạn giải quyết mọi vấn đề pháp lý một cách nhanh chóng và hiệu quả!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email',
        description: 'thanhnv@yplawfirm.vn',
        icon: 'tabler:mail',
      },
      {
        title: 'Hotline',
        description: '088 995 6888',
        icon: 'tabler:headset',
      },
      {
        title: 'Theo dõi chúng tôi',
        description: '@vinhphuclawyers',
        icon: 'tabler:brand-facebook',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps2>
</Layout>
