---
export const prerender = true;
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';

import AuthorRelatedPosts from '~/components/blog/AuthorRelatedPosts.astro';
import { getPermalink } from '~/utils/blog-permalinks';

const metadata = {
  title: 'Luật sư Nguyễn Minh Anh',
  description: 'Thông tin tác giả Luật sư Nguyễn Minh Anh, Luật sư Điều hành Youth & Partners Law Firm.',
};
const author = 'Luật sư Nguyễn Minh Anh';
const types = ['post', 'consultation', 'evaluation', 'foreigner', 'labor', 'legal'];
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Luật sư Nguyễn Minh Anh"
    tagline="Thông tin tác giả"
    i18nTagline="lawyerProfile.authorInfo"
    actions={[{ variant: 'primary', text: 'Liên hệ với tác giả', href: getPermalink('/lien-he#form'), 'data-i18n': 'lawyerProfile.contactAuthor' }]}
  >
    <Fragment slot="subtitle">
      Luật sư Nguyễn Minh Anh là một chuyên gia pháp lý với hơn 7 năm kinh nghiệm trong lĩnh vực luật kinh tế, luật đất đai và dân sự. Sở hữu nền tảng học vấn xuất sắc cùng kinh nghiệm thực tiễn tại các tổ chức uy tín, Luật sư Minh Anh đã khẳng định năng lực trong việc tư vấn pháp lý, giải quyết tranh chấp và hỗ trợ doanh nghiệp, cá nhân trong các vụ việc/vụ án phức tạp. Với sự am hiểu sâu rộng về pháp luật và tư duy nhạy bén, Luật sư Minh Anh luôn mang đến các giải pháp pháp lý hiệu quả, tối ưu lợi ích cho khách hàng trong các lĩnh vực kinh doanh thương mại, đất đai và dân sự.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:phone-call',
        callToAction: {
          target: '_blank',
          text: 'Hotline',
          href: 'tel:0889956888',
        },
      },
      {
        icon: 'tabler:mailbox',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: 'mailto:ceo@yplawfirm.vn',
        },
      },
      {
        icon: 'tabler:brand-meta',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/yplawfirm',
        },
      },
    ]}
    image={{
      src: '~/assets/images/team/Luật sư Nguyễn Minh Anh.jpg',
      alt: 'Luật sư Nguyễn Minh Anh',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 notranslate" translate="no" data-i18n="lawyerProfile.experience">Kinh nghiệm</h2>
      <p>
        •	11/2022 - 09/2024: Phó phòng Thanh tra Pháp chế, Công ty TNHH Đầu tư Thương mại và Du lịch Quốc tế Hòa Bình <br />
        Tư vấn pháp lý, đàm phán hợp đồng, làm việc với cơ quan nhà nước, rà soát hợp đồng, giải quyết tranh chấp kinh doanh, dân sự và kiểm soát tuân thủ nội bộ.<br />
        •	06/2019 - 11/2022: Quản lý Trưởng phòng Tư vấn, Công ty Luật TNHH Việt Kim<br />
        Quản lý phòng tư vấn, nghiên cứu hồ sơ, tố tụng tại Tòa (dân sự, kinh doanh thương mại), tư vấn tái cấu trúc doanh nghiệp, M&A, và giải quyết tranh chấp.<br />
        •	06/2017 - 06/2019: Thực tập sinh, Văn phòng Luật sư Trọng Hải và Cộng sự<br />
        Soạn thảo văn bản, rà soát hợp đồng, hỗ trợ luật sư trong các vụ án dân sự và kinh doanh thương mại.
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Học vấn"
    i18nTitle="lawyerProfile.education"
    items={[
      {
        title: `Cấp chứng chỉ hành nghề Luật sư<br /> <span class="font-normal">Bộ Tư Pháp</span> <br /> <span class="text-sm font-normal">Năm 2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Thạc sỹ Luật Kinh tế<br /> <span class="font-normal">Trường ĐH Luật Hà Nội</span> <br /> <span class="text-sm font-normal">Năm 2023</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Tốt nghiệp <br /> <span class="font-normal">Học viện Tư Pháp</span> <br /> <span class="text-sm font-normal">Năm 2021</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Cử nhân Luật (Xuất sắc)<br /> <span class="font-normal">Đại học Vinh</span> <br /> <span class="text-sm font-normal">Năm 2019</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- BlogLatestPost Widget **************** -->

  <AuthorRelatedPosts
    id="blog"
    title="Bài viết của tác giả"
    i18nTitle="lawyerProfile.authorPosts"
    information={`Các bài viết chuyên sâu của Luật sư Nguyễn Minh Anh về mọi khía cạnh pháp lý về giấy phép, đất đai, doanh nghiệp và đầu tư nước ngoài.`}
    author={author}
    types={types}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AuthorRelatedPosts>
</Layout>
