---
export const prerender = true;
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';

import AuthorRelatedPosts from '~/components/blog/AuthorRelatedPosts.astro';
import { getPermalink } from '~/utils/blog-permalinks';

const metadata = {
  title: 'Luật sư Văn Thị Thanh Hoa',
  description:
    'Thông tin tác giả Luật sư Văn Thị Thanh Hoa, luật sư thành viên tại Công ty Luật TNHH Youth & Partners.',
};
const author = 'Luật sư Văn Thị Thanh Hoa';
const types = ['post', 'consultation', 'evaluation', 'foreigner', 'labor', 'legal'];
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Luật sư Văn Thị Thanh Hoa"
    tagline="Thông tin tác giả"
    actions={[{ variant: 'primary', text: 'Liên hệ với tác giả', href: getPermalink('/lien-he#form') }]}
  >
    <Fragment slot="subtitle">
      <br />
      <i>Lĩnh vực phụ trách:</i><br /><br />
      • Dân sự: Tư vấn về hợp đồng, giao dịch Dân sự, thừa kế, bồi thường thiệt hại và các vấn đề pháp lý liên quan khác
      <br /><br />
      • Hình sự: Tư vấn và bảo vệ quyền lợi hợp pháp của bị hại, đồng thời tham gia bào chữa cho bị can, bị cáo trong các
      giai đoạn tố tụng Hình sự. Thực hiện các công việc liên quan đến hành vi phạm tội và xác định mức độ trách nhiệm pháp
      lý của các đối tượng trong vụ án Hình sự
      <br /><br />
      • Đất đai: Tư vấn về các vấn đề liên quan đến Đất đai, bao gồm nhưng không giới hạn như chuyển nhượng, cấp đổi giấy
      chứng nhận quyền sử dụng đất, giải quyết tranh chấp Đất đai
      <br /><br />
      • Hôn nhân và gia đình: Tư vấn về ly hôn, chia tài sản, quyền nuôi con, và các vấn đề pháp lý liên quan đến hôn nhân
      và gia đình.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:phone-call',
        callToAction: {
          target: '_blank',
          text: 'Hotline',
          href: 'tel:0889956888',
        },
      },
      {
        icon: 'tabler:mailbox',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: 'mailto:ceo@yplawfirm.vn',
        },
      },
      {
        icon: 'tabler:brand-meta',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/vinhphuclawyers',
        },
      },
    ]}
    image={{
      src: '~/assets/images/team/Luật sư Văn Thị Thanh Hoa.jpg',
      alt: 'Luật sư Văn Thị Thanh Hoa',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Kinh nghiệm</h2>
      <p>
        Với hơn 12 năm kinh nghiệm, Luật sư Văn Thị Thanh Hoa đã giải quyết thành công nhiều vụ việc pháp lý phức tạp
        trong các lĩnh vực Dân sự, Hình sự, Đất đai, hôn nhân và gia đình.
      </p>
      <br />
      <p>
        Bà được biết đến với khả năng tư vấn pháp lý xuất sắc và chiến lược giải quyết vụ việc tối ưu, giúp khách hàng
        đạt được kết quả mong muốn.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Học vấn"
    items={[
      {
        title: `Cấp chứng chỉ hành nghề Luật sư<br /> <span class="font-normal">Bộ Tư Pháp</span> <br /> <span class="text-sm font-normal">Năm 2016</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Cử nhân Luật <br /> <span class="font-normal">Trường ĐH Luật Hà Nội</span> <br /> <span class="text-sm font-normal">Năm 2012</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- BlogLatestPost Widget **************** -->

  <AuthorRelatedPosts
    id="blog"
    title="Bài viết của tác giả"
    information={`Các bài viết chuyên sâu của Luật sư Văn Thị Thanh Hoa về mọi khía cạnh pháp lý về Đại diện trong và ngoài Tố tụng, Dân sự, Hình sự, Hành chính, Đất đai.`}
    author={author}
    types={types}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AuthorRelatedPosts>
</Layout>
