---
export const prerender = true;
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';

import AuthorRelatedPosts from '~/components/blog/AuthorRelatedPosts.astro';
import { getPermalink } from '~/utils/blog-permalinks';

const metadata = {
  title: 'Luật sư Trần Chung Kiên',
  description: 'Thông tin tác giả Luật sư Trần Chung Kiên, luật sư thành viên tại Công ty Luật TNHH Youth & Partners.',
};
const author = 'Luật sư Trần Chung Kiên';
const types = ['post', 'consultation', 'evaluation', 'foreigner', 'labor', 'legal'];
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Luật sư Trần Chung Kiên"
    tagline="Thông tin tác giả"
    actions={[{ variant: 'primary', text: 'Liên hệ với tác giả', href: getPermalink('/lien-he#form') }]}
  >
    <Fragment slot="subtitle">
      <br />
      <i>Lĩnh vực phụ trách:</i><br /><br />
      • Dân sự: Tư vấn và đại diện khách hàng trong các vụ án về hợp đồng, giao dịch Dân sự, thừa kế, hôn nhân gia đình,
      bồi thường thiệt hại và các vấn đề pháp lý khác
      <br /><br />
      • Đại diện trong và ngoài tố tụng: Đại diện cho khách hàng trong các vụ án Dân sự, Hình sự và Hành chính tại các cấp
      tòa án, tham gia vào các thủ tục tố tụng, bảo vệ quyền lợi hợp pháp của khách hàng trong và ngoài tố tụng
      <br /><br />
      • Hình sự: Tư vấn và bảo vệ quyền lợi hợp pháp của bị hại, đồng thời tham gia bào chữa cho bị can, bị cáo trong các
      giai đoạn tố tụng Hình sự. Thực hiện các công việc liên quan đến hành vi phạm tội và xác định mức độ trách nhiệm pháp
      lý của các đối tượng trong vụ án Hình sự
      <br /><br />
      • Hành chính: Tư vấn về các thủ tục Hành chính, giải quyết khiếu nại, tố cáo và các vấn đề pháp lý liên quan đến Hành
      chính.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:phone-call',
        callToAction: {
          target: '_blank',
          text: 'Hotline',
          href: 'tel:0889956888',
        },
      },
      {
        icon: 'tabler:mailbox',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: 'mailto:contact@yplawfirm.vn',
        },
      },
      {
        icon: 'tabler:brand-meta',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/yplawfirm',
        },
      },
    ]}
    image={{
      src: '~/assets/images/team/Luật sư Trần Chung Kiên.jpg',
      alt: 'Luật sư Trần Chung Kiên',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Kinh nghiệm</h2>
      <p>
        • Năm 2015: Tốt nghiệp Khoa Luật học, Đại học Luật Hà Nội <br />
        • Từ 2015 - 2022: Công chức, Kiểm sát viên ngành Kiểm sát nhân dân. Trong suốt thời gian này, ông đã tích lũy kinh
        nghiệm thực tiễn trong việc tham gia các vụ án Dân sự, Hình sự và Hành chính, thực hiện công tác kiểm sát các hoạt
        động tố tụng và bảo vệ công lý, góp phần vào việc duy trì trật tự pháp lý và bảo vệ quyền lợi hợp pháp của các bên
        liên quan <br />
        • Từ 2022 - 2024: Làm việc tại Công ty Luật TNHH Youth & Partners, chuyên tư vấn và đại diện cho khách hàng trong
        các vụ việc liên quan đến luật Dân sự, Hình sự, Hành chính và tố tụng. Ông đã thành công trong việc bảo vệ quyền
        lợi khách hàng trong các vụ án phức tạp, đồng thời giúp khách hàng giải quyết các vấn đề pháp lý một cách hiệu quả
        và bảo vệ tối đa quyền và lợi ích hợp pháp của họ.
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Học vấn"
    items={[
      {
        title: `Được bổ nhiệm làm Kiểm sát viên <br /> <span class="font-normal">Viện Kiểm Sát Nhân Dân Tối Cao</span> <br /> <span class="text-sm font-normal">Năm 2021</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Được cấp chứng chỉ đào tạo nghiệp vụ kiểm sát <br /> <span class="font-normal">Viện Kiểm Sát Nhân Dân Tối Cao</span> <br /> <span class="text-sm font-normal">Năm 2019</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Cử nhân Luật <br /> <span class="font-normal">Khoa Luật học, Đại học Luật Hà Nội</span> <br /> <span class="text-sm font-normal">Năm 2015</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- BlogLatestPost Widget **************** -->

  <AuthorRelatedPosts
    id="blog"
    title="Bài viết của tác giả"
    information={`Các bài viết chuyên sâu của Luật sư Trần Chung Kiên về mọi khía cạnh pháp lý về Đại diện trong và ngoài Tố tụng, Dân sự, Hình sự, Hành chính.`}
    author={author}
    types={types}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AuthorRelatedPosts>
</Layout>
