---
export const prerender = true;
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';

import AuthorRelatedPosts from '~/components/blog/AuthorRelatedPosts.astro';
import { getPermalink } from '~/utils/blog-permalinks';

const metadata = {
  title: 'Luật sư Phạm Thị Huyền Quyên',
  description:
    'Thông tin tác giả Luật sư Phạm Thị Huyền Quyên, luật sư thành viên tại Công ty Luật TNHH Youth & Partners.',
};
const author = 'Luật sư Phạm Thị Huyền Quyên';
const types = ['post', 'consultation', 'evaluation', 'foreigner', 'labor', 'legal'];
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Luật sư Phạm Thị Huyền Quyên"
    tagline="Thông tin tác giả"
    actions={[{ variant: 'primary', text: 'Liên hệ với tác giả', href: getPermalink('/lien-he#form') }]}
  >
    <Fragment slot="subtitle">
      <br />
      <i>Lĩnh vực phụ trách:</i><br /><br />
      • Doanh nghiệp: Tư vấn toàn diện về các vấn đề pháp lý liên quan đến thành lập, hoạt động và quản trị Doanh nghiệp,
      bao gồm các vấn đề về quản lý tài chính, bảo vệ quyền lợi cổ đông, soạn thảo hợp đồng và giải quyết tranh chấp nội
      bộ. Bà giúp Doanh nghiệp xây dựng và triển khai các chiến lược phát triển bền vững, đảm bảo tuân thủ các quy định pháp
      lý trong suốt quá trình hoạt động
      <br />
      <br />
      • Lao động: Tư vấn về các vấn đề lao động trong Doanh nghiệp, bao gồm hợp đồng lao động, quyền lợi người lao động,
      bảo hiểm xã hội, các chế độ phúc lợi, và giải quyết tranh chấp lao động. Bà hỗ trợ Doanh nghiệp trong việc xây dựng
      các chính sách nhân sự và duy trì môi trường làm việc tuân thủ quy định pháp lý
      <br />
      <br />
      • Đầu tư: Tư vấn các vấn đề liên quan đến Đầu tư, bao gồm lập kế hoạch Đầu tư, các thủ tục liên quan đến việc huy động
      vốn, chuyển nhượng cổ phần và quản lý rủi ro Đầu tư. Luật sư Quyên giúp Doanh nghiệp tối ưu hóa chiến lược Đầu tư,
      đồng thời đảm bảo tuân thủ các yêu cầu pháp lý trong và ngoài nước.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:phone-call',
        callToAction: {
          target: '_blank',
          text: 'Hotline',
          href: 'tel:0889956888',
        },
      },
      {
        icon: 'tabler:mailbox',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: 'mailto:ceo@yplawfirm.vn',
        },
      },
      {
        icon: 'tabler:brand-meta',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/yplawfirm',
        },
      },
    ]}
    image={{
      src: '~/assets/images/team/Luật sư Phạm Thị Huyền Quyên.jpg',
      alt: 'Luật sư Phạm Thị Huyền Quyên',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Kinh nghiệm</h2>
      <p>
        Với 8 năm kinh nghiệm trong lĩnh vực tư vấn Doanh nghiệp và pháp chế nội bộ, Luật sư Phạm Thị Huyền Quyên đã trở
        thành một đối tác tin cậy của nhiều Doanh nghiệp.
      </p>
      <br />
      <p>
        Bà sở hữu kiến thức chuyên sâu về luật Doanh nghiệp, luật lao động và các quy định pháp luật liên quan, giúp
        Doanh nghiệp giải quyết hiệu quả các vấn đề pháp lý phát sinh trong quá trình hoạt động.
      </p>
      <br />
      <p>
        Đặc biệt, bà chú trọng vào việc đảm bảo tuân thủ pháp luật trong các hoạt động của Doanh nghiệp, từ việc thiết
        lập cơ cấu tổ chức, quản lý tài chính đến việc xử lý các vấn đề tranh chấp và mâu thuẫn nội bộ.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Học vấn"
    items={[
      {
        title: `Cấp chứng chỉ hành nghề Luật sư<br /> <span class="font-normal">Bộ Tư Pháp</span> <br /> <span class="text-sm font-normal">Năm 2016</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Cử nhân Luật <br /> <span class="font-normal">Trường ĐH Luật Hà Nội</span> <br /> <span class="text-sm font-normal">Năm 2012</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- BlogLatestPost Widget **************** -->

  <AuthorRelatedPosts
    id="blog"
    title="Bài viết của tác giả"
    information={`Các bài viết chuyên sâu của Luật sư Phạm Thị Huyền Quyên về mọi khía cạnh pháp lý về Doanh nghiệp, Lao động, Đầu tư.`}
    author={author}
    types={types}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AuthorRelatedPosts>
</Layout>
