---
export const prerender = true;
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import AuthorRelatedPosts from '~/components/blog/AuthorRelatedPosts.astro';
import { getPermalink } from '~/utils/blog-permalinks';

const metadata = {
  title: 'Chuyên viên pháp lý Trần Thị Bích Liên',
  description:
    'Thông tin tác giả Chuyên viên pháp lý Trần Thị Bích Liên, chuyên viên pháp lý tại Công ty Luật TNHH Youth & Partners.',
};
const author = 'Trần Thị Bích Liên';
const types = ['post', 'consultation', 'evaluation', 'foreigner', 'labor', 'legal'];
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Chuyên viên pháp lý Trần Thị Bích Liên"
    tagline="Thông tin tác giả"
    actions={[{ variant: 'primary', text: 'Liên hệ với tác giả', href: getPermalink('/lien-he#form') }]}
  >
    <Fragment slot="subtitle">
      <br />
      <i>Lĩnh vực phụ trách:</i><br /><br />
      • Dân sự: Tư vấn về hợp đồng, giao dịch Dân sự, thừa kế, hôn nhân & gia đình, bồi thường thiệt hại, và các vấn đề pháp
      lý liên quan khác
      <br /><br />
      • Đất đai: Tư vấn toàn diện về các thủ tục Đất đai, bao gồm nhưng không giới hạn các vấn đề mua bán, tặng cho, sang
      tên đổi chủ bất động sản, cấp đổi, cấp lại, cấp mới giấy chứng nhận quyền sử dụng đất, đính chính quyền sử dụng đất,
      chuyển đổi mục đích sử dụng đất, và giải quyết tranh chấp Đất đai
      <br /><br />
      • Hành chính: Tư vấn về các thủ tục Hành chính, giải quyết khiếu nại, tố cáo và các vấn đề pháp lý liên quan đến Hành
      chính.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:phone-call',
        callToAction: {
          target: '_blank',
          text: 'Hotline',
          href: 'tel:0889956888',
        },
      },
      {
        icon: 'tabler:mailbox',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: 'mailto:contact@yplawfirm.vn',
        },
      },
      {
        icon: 'tabler:brand-meta',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/yplawfirm',
        },
      },
    ]}
    image={{
      src: '~/assets/images/team/Chuyên viên Trần Thị Bích Liên.jpg',
      alt: 'Chuyên viên pháp lý Trần Thị Bích Liên',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Kinh nghiệm</h2>
      <p>
        • Từ 2020 - 2024: Chuyên viên pháp lý tại Công ty Luật TNHH Youth & Partners. Trong suốt thời gian công tác tại
        công ty, bà Trần Thị Bích Liên đã tích lũy được kinh nghiệm sâu rộng trong các lĩnh vực Dân sự, Hành chính, và
        Đất đai <br />
        • Bà đã tham gia trực tiếp và thành công trong việc giải quyết nhiều vụ tranh chấp Đất đai, hôn nhân và gia đình,
        bảo vệ quyền lợi hợp pháp của khách hàng <br />
        • Đồng thời, bà còn thực hiện nhiều thủ tục Hành chính và Đất đai phức tạp, phục vụ nhu cầu của cả cá nhân và tổ
        chức, góp phần nâng cao hiệu quả và bảo đảm quyền lợi cho khách hàng.
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Học vấn"
    items={[
      {
        title: `Tham gia khóa đào tạo nghề Luật sư <br /> <span class="font-normal">Học viện Tư Pháp</span> <br /> <span class="text-sm font-normal">Năm 2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Cử nhân Luật <br /> <span class="font-normal">Khoa Luật học, Trường Đại học Luật Hà Nội</span> <br /> <span class="text-sm font-normal">Năm 2016</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- BlogLatestPost Widget **************** -->

  <AuthorRelatedPosts
    id="blog"
    title="Bài viết của tác giả"
    information={`Các bài viết chuyên sâu của Chuyên viên pháp lý Trần Thị Bích Liên về mọi khía cạnh pháp lý về Dân sự, Hình sự, Hành chính, Đất đai.`}
    author={author}
    types={types}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AuthorRelatedPosts>
</Layout>
