---
import { SITE } from 'astrowind:config';
import logoIcon from '~/assets/images/logo.png';
import Image from '~/components/common/Image.astro';
---

<Image
  src={logoIcon}
  class="inset-0 object-cover w-full h-full mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
  height={60}
  alt="YP"
  aspectRatio="16:9"
  loading="lazy"
  decoding="async"
/>
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <!-- {SITE?.name} -->
</span>
