---
// Search component - Pagefind removed
import SearchIcon from '~/components/icons/SearchIcon.astro';
---

<!-- Search functionality temporarily disabled -->
<div id="search" class="ms-auto hidden">
  <button disabled class="flex items-center justify-center rounded-md gap-1 opacity-50 cursor-not-allowed">
    <SearchIcon />
  </button>
</div>
