---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';
---

<div id="action_contact" class="invisible">
  <a id="action_zalo" class="action_zalo" title="Chát ngay" target="_blank" href="https://zalo.me/0889956888">
    <Image
      class="w-full h-full invisible"
      widths={[64]}
      format="webp"
      src="~/assets/images/youth and partners/icon-zalo.png"
      alt="Chát Zalo với chúng tôi"
    />
  </a>
  <a id="action_call" class="action_call" title="Gọi ngay 088 995 6888" href="tel:0889956888"
    ><Icon
      name="tabler:phone"
      class="mx-auto my-3 size-7 text-white-400 dark:text-slate-500 hover:text-white dark:hover:text-slate-300 invisible"
    />
  </a>
</div>

<!-- Defer Tawk script to improve rendering performance -->
<script>
  // Delay loading Tawk widget until after page is interactive
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', () => {
      setTimeout(() => {
        const script = document.createElement('script');
        script.crossOrigin = 'anonymous';
        script.async = true;
        script.src = 'https://embed.tawk.to/60e7f020d6e7610a49aa63d1/1fa50407q';
        document.body.appendChild(script);
      }, 2000);
    });
  } else {
    // DOM is already loaded, delay by 2 seconds
    setTimeout(() => {
      const script = document.createElement('script');
      script.crossOrigin = 'anonymous';
      script.async = true;
      script.src = 'https://embed.tawk.to/60e7f020d6e7610a49aa63d1/1fa50407q';
      document.body.appendChild(script);
    }, 2000);
  }
</script>
